doctype html
html
	head
		// META
		block title
			title #{title}

		meta(name='description' content='')
		meta(name='author' content='Amsellem Yann')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(http-equiv='Pragma' content='no-store')
		meta(http-equiv='Cache-Control' content='no-store')
		meta(http-equiv='Lang' content='en')
		meta(name='copyright' content='All Rights Reserved - GhostxRipper')
		// if partials used
		// meta(name='fragment' content='!')

		// Design
		// styles
		block style
			
		// fonts
		block font
			

	body
		// content
		block content
			

		// scripts
		// libs
		
		// features
		block script
			