@font-face {
	font-family: "Bebas";
	src: url(BebasNeueRegular.otf);

	font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

@font-face {
	font-family: "Bebas";
	src: url(BebasNeueBold.otf);

	font-weight: bold;
}

@font-face {
	font-family: "Bebas";
	src: url(BebasNeueThin.otf);
	
	font-weight: 100;
}

@font-face {
	font-family: "Bebas";
	src: url(BebasNeueLight.otf);
	
	font-weight: 200;
}

@font-face {
	font-family: "Bebas";
	src: url(BebasNeueBook.otf);
	
	font-weight: 300;
}
